# Collections (the complex data types)

When we use a single space/return 
it doesn't act that way as a next line, only a text wrap

we need a double return

- sets 
- tuples
- lists
- dictionaries 
- combine collections

In [53]:
# set 
# no duplicates, not indexed (no order), iterable (can loop through it - 
# do something repetively), collection, mutable (can change it - add/remove from it)

set1 = {"Ben", "Jason", "Darlene", "Jason", "Erin"}  # curly braces
set_declared = set(("Ben", "Jason", "G", "G", "Darlene", "Jason"))
# declaring sets, a collection in parentheses is a tuple that we turned into a set 
print(f"set1 = {set1}")
print(f"set_declared = {set_declared}")

set1 = {'Jason', 'Erin', 'Ben', 'Darlene'}
set_declared = {'Jason', 'Ben', 'G', 'Darlene'}

In [54]:
# method to find overlaps 
overlaps = set1.intersection(set_declared)
overlaps

{'Ben', 'Darlene', 'Jason'}

In [55]:
# method to find difference between two sets 
diff = set1.difference(set_declared)
diff #last item in a cell will be read in a jupiter notebook

{'Erin'}

In [56]:
# method to find difference between two sets 
diff = set_declared.difference(set1)
diff #last item in a cell will be read in a jupiter notebook

{'G'}

In [57]:
set1.add("Halle")
set1 #add/update a name to the set

{'Ben', 'Darlene', 'Erin', 'Halle', 'Jason'}

In [58]:
set1.pop("Halle")
set1 #ignore this

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
set1.remove("Darlene")
set1 #delete a name from the set

{'Ben', 'Erin', 'Halle', 'Jason'}

In [ ]:
# tuple 
# nonmutable (cannot change it - add/remove from it), indexed (ordered), 
# iterable (can repeat),collection

tuple1 = (1,2,3,4)
tuple_declared = tuple((3,4,5,6))

print(f"tuple1 = {tuple1}")
print(f"tuple_declared = {tuple_declared}")

tuple1 = (1, 2, 3, 4)
tuple_declared = (3, 4, 5, 6)

In [ ]:
tuple1 = (1,2,3,4,5) # overwriting not changing 
tuple1

(1, 2, 3, 4, 5)

In [ ]:
tuple1.count(2) # count occurances of a value

1

In [ ]:
tuple1.index(1) #return index of value (1 is at the zero value)

0

In [ ]:
tuple1[0] # return value at the index 0

1

In [ ]:
print(f"tuple1 = {tuple1}")
tuple1[0] #tuples dont change, returning bank info or series of items 
# that were purchased, we want it to not be changable

tuple1 = (1, 2, 3, 4, 5)

1

In [ ]:
#list 
#mutable (can change), duplicated(can have duplicates), indexed [index notation], 
# iterable, string has an index because it is a collection of characters that needs an order 
#if they are ordered, they have an index-index just indicates what order something exists in

#can add to a list, and a set, but not a tuple 

list1 = ["G", "G", "Paola", "Emil"]
list_declared = list(("G", "G", "Paola", "Emil"))

print(f"list1 = {list1}")
print(f"list_declared = {list_declared}")

list1 = ['G', 'G', 'Paola', 'Emil']
list_declared = ['G', 'G', 'Paola', 'Emil']

In [ ]:
print(f"list1 = {list1}")
print(f"first index = {list1[0]}")
print(f"last item in list1 = {list[-1]}")
print(f"series between 2 & 3 items = {list1[1:2]}") #including 1, up to 2 (2 is exclusive))

list1 = ['G', 'G', 'Paola', 'Emil']
first index = G
last item in list1 = list[-1]
series between 2 & 3 items = ['G']

In [ ]:
print(f"series between 2 & 3 items = {list1[1:3]}") #including 1, up to 3 (3 is exclusive)

series between 2 & 3 items = ['G', 'Paola']

In [ ]:
print(f"everything before index 3 = {list1[:3]}") #everything before index 3 (3 is exclusive))

everything before index 3 = ['G', 'G', 'Paola']

In [ ]:
print(f"everything after the first = {list1[1:]}') #everything after index 0 (1 is inclusive))")

everything after the first = ['G', 'Paola', 'Emil']') #everything after index 0 (1 is inclusive))

In [ ]:
print(f"last item in list1 = {list1[-1]}")

last item in list1 = Emil

In [ ]:
#list methods 
list1.append("Claire")#add to a list
list2 = list1.append("Nathan") #append does not create a new list, it just changes the existing list
print(f"appended Claire = {list1}")

removed = list1.pop() #remove (defaults to last item in index), it returns the removed item,
# changed the list in place
#change index
#combine lists 

print(f"appended Claire = {list1}")
print(f"removed {removed} . New list is {list1}")

removed = list1.pop()

appended Claire = ['G', 'G', 'Paola', 'Claire', 'Nathan']
appended Claire = ['G', 'G', 'Paola', 'Claire']
removed Nathan . New list is ['G', 'G', 'Paola', 'Claire']

In [ ]:
list1[1] = "J" # change index using index notation, change value at index 1 to J
print(f"index 1 of list 1 changed to J = {list1}")

combined_list1 = [list1, list_declared] #combine lists and lists 
print(f"combined list = {combined_list}")

combined_lists = [*list1, *list_declared] #combine lists into one list #star notation to rip items 
# out of list and into one list that combines them both 
print(f"comibined lists into one list = {combined_list}")

list1.extend(list_declared) #combine lists into one list 
print(f"list1 after extension = {list1}")

index 1 of list 1 changed to J = ['G', 'J', 'Paola']
combined list = [['G', 'J', 'Paola'], ['G', 'G', 'Paola', 'Emil']]
comibined lists into one list = [['G', 'J', 'Paola'], ['G', 'G', 'Paola', 'Emil']]
list1 after extension = ['G', 'J', 'Paola', 'G', 'G', 'Paola', 'Emil']

In [63]:
#dictionary 
#key:value, indexed by key (does not have a traditional index by location), not ordered, 
# duplicate values but not keys, mutable
# {key: value, key1: value}
dict1 = {"name": "Nathaan", "age": "39"}
dict_declared = dict(name="Nathaan", age="39") #we never do this

In [64]:
print(dict_declared)
dict1

{'name': 'Nathaan', 'age': '39'}

{'name': 'Nathaan', 'age': '39'}

In [ ]:
dict1["name"] # get values (index by key, called by unique key: "name")

'Nathaan'

In [66]:
dict1["name"] = "Nate" #change value 
dict1

{'name': 'Nate', 'age': '39'}

In [ ]:
dict1.keys() #get all keys in dictionary

dict_keys(['name', 'age'])

In [ ]:
dict1.values() #get all values in dictionary

dict_values(['Nate', '39'])

In [70]:
students = [
    {"name": "G", "age": 18},
    {"name": "Halle", "age": 21},
    {"name": "John", "age": 19}
]
students

[{'name': 'G', 'age': 18},
 {'name': 'Halle', 'age': 21},
 {'name': 'John', 'age': 19}]

In [71]:
students[1] #get second student

{'name': 'Halle', 'age': 21}

In [73]:
students[2]["name"] #get third student

'John'

In [74]:
students.pop()

{'name': 'John', 'age': 19}

In [75]:
students.append({"name": "Nate", "age": 2})
students

[{'name': 'G', 'age': 18},
 {'name': 'Halle', 'age': 21},
 {'name': 'Nate', 'age': 2}]

In [76]:
students[2]["name"] = "Nathan"
students

[{'name': 'G', 'age': 18},
 {'name': 'Halle', 'age': 21},
 {'name': 'Nathan', 'age': 2}]

In [77]:
dict1["name"] = "Bozo"

In [78]:
dict1

{'name': 'Bozo', 'age': '39'}

In [79]:
students

[{'name': 'G', 'age': 18},
 {'name': 'Halle', 'age': 21},
 {'name': 'Nathan', 'age': 2}]